.info_box{
    display: flex;
    align-items: center;
    color:#FFFFFF !important;
}
@media (max-width:400px) {
    .info_box{
        background-color: #333333;
        width: 100%;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        font-size: 1.8vh;
    }
}